{% extends "base.html" %}

{% block content %}
<h2>Gerar Planilhas Periódicas</h2>
<p>Aqui você pode baixar as planilhas encontradas periodicamente.</p>

<!-- Formulários para baixar as planilhas -->
<form action="{{ url_for('baixar_planilha_diaria') }}" method="GET">
    <button type="submit" class="btn btn-primary">Baixar Planilha Diária</button>
</form>

<form action="{{ url_for('baixar_planilha_semanal') }}" method="GET">
    <button type="submit" class="btn btn-primary">Baixar Planilha Semanal</button>
</form>

<form action="{{ url_for('baixar_planilha_mensal') }}" method="GET">
    <button type="submit" class="btn btn-primary">Baixar Planilha Mensal</button>
</form>

{% endblock %}

